<%- include('partials/header') %>

<section id="carteContainerGlobal">
    
<!-- Si y a une commande c'est qu'on a ajouté un plat => on affiche le message de confirmation d'ajout. -->

    <% if(locals.commande){ %>
        <div class="messageCommandeAdd">
            <p> Vous avez ajouté <strong><%= platAdded %></strong> à votre panier.</p>
            <i class="fa-solid fa-xmark fa-2xl"></i>
        </div>

     <% } %>

    <article id="carteContainerEntree" >

        <h2>Les Entrées</h2>

        <div class="carteContainerList">

<!-- On affiche toutes les entrées disponibles en BDD -->

            <% for(entrée of entreeList){ %>
                <article class="carteContainer_platContainer" value="<%=entrée.id%>" ">
                    <div class="carteContainer_topPart">
                        <div class="carteContainer_topPart_noplus">
                            <h3 class="carteContainer_nom"><%= entrée.nom %></h3>
                            <p class="carteContainer_prix"><%= entrée.prix %></p>
                        </div>
                        <a href="/carte/<%=entrée.id%>" class="addPlat"><i class="fa-solid fa-plus fa-2xl"></i></a>
                    </div>
                    <p class="carteContainer_recette"><%= entrée.recette %> </p>
                    <div class="carteContainer_divIcones">
                        <div>
                            <% for(allergene of entrée.vignettes){ %>
                                <i class="fa-solid <%= allergene.icone %> fa-lg carteContainer_icone" title="<%=allergene.nom %>"></i>
                            <%}%>
                        </div>
                    </div>
                </article>
            <%}%>
        </div>
    </article>


    <article id="carteContainerPlat" >

        <h2>Les Plats</h2>

        <div class="carteContainerList" >

<!-- On affiche tous les plats disponibles en BDD -->

            <% for(plat of platsList){ %>
                <article class="carteContainer_platContainer" value="<%=plat.id%>">
                    <div class="carteContainer_topPart">
                        <div class="carteContainer_topPart_noplus">
                            <h3 class="carteContainer_nom"><%= plat.nom %></h3>
                            <p class="carteContainer_prix"><%= plat.prix %></p>
                        </div>
                        <a href="/carte/<%=plat.id%>" class="addPlat"><i class="fa-solid fa-plus fa-2xl"></i></a>
                    </div>
                    <p class="carteContainer_recette"><%= plat.recette %> </p>
                    <div class="carteContainer_divIcones">
                        <div>
                            <% for(allergene of plat.vignettes){ %>
                                <i class="fa-solid <%= allergene.icone %> fa-lg carteContainer_icone " title="<%=allergene.nom %>"></i>
                            <%}%>
                        </div>
                    </div>
                </article>
            <%}%>
        </div>
    </article>

    <article id="carteContainerDessert" class="carteContainerList">

        <h2>Les Desserts</h2>

        <div class="carteContainerList" >

<!-- On affiche tous les desserts disponibles en BDD -->

            <% for(dessert of dessertList){ %>
                <article class="carteContainer_platContainer" value="<%=dessert.id%>">
                    <div class="carteContainer_topPart">
                        <div class="carteContainer_topPart_noplus">
                            <h3 class="carteContainer_nom"><%= dessert.nom %></h3>
                            <p class="carteContainer_prix"><%= dessert.prix %></p>
                        </div>
                        <a href="/carte/<%=dessert.id%>" class="addPlat"><i class="fa-solid fa-plus fa-2xl"></i></a>
                    </div>
                    <p class="carteContainer_recette"><%= dessert.recette %> </p>
                    <div class="carteContainer_divIcones">
                        <div>
                            <% for(allergene of dessert.vignettes){ %>
                                <i class="fa-solid <%= allergene.icone %> fa-lg carteContainer_icone" title="<%=allergene.nom %>"></i>
                            <%}%>
                        </div>
                    </div>
                </article>
            <%}%>
        </div>
    </article>


</section>
<%- include('partials/footer') %>

<script src="/js/carte.js"></script>

</body>
</html>