<%- include('partials/header') %>

<section>

    <h1>Votre commande :</h1>

    <%if(locals.commande.length>0){ for(plat of locals.commande){ %>
       <div class="platDiv">
            <div>
                <p class="platInfo platNom"> <%= plat.nom%> </p>
                <p class="platInfo"> <%= plat.prix %></p>
            </div>
            <a href="/carte/supp/<%= plat.id%>" class="delPlat"><i class="fa-solid fa-xmark fa-2xl"></i></a>
       </div> 
    <%}%>
    <div id="total">
        <h2>Total de votre commande :</h2>
        <p id="totalPrix"><%= locals.totalCommande %> €</p>
    </div>

    <% if(!locals.profil){ %>
        
        <a href="/login" class="boutton">Connectez-vous pour valider</a>

    <%}else{%>

        <form>
            <input type="submit" method="POST" value="Commander" class="boutton">
        </form>
        
    <%}}else{%>
        <div class="messageNoCommande">
            <p>Oups, il semblerait que vous n'ayez rien séléctionné.</p>
            <a href="/carte"  class="boutton">La carte</a>
        </div>


    <%}%>

</section>

<%- include('partials/footer') %>
</body>
</html>