<%- include('partials/header') %>

<section id="globalProfilContainer">
<% if(locals.profil === false){ %>
    <div id="errorMessage">
        <p>Vous devez vous connecter pour accéder à votre profil.</p>
        <a href="/login"> <button>Par ici :)</button></a>
    </div>
<%}else{%>
    <h1>Bonjour <%= locals.profil.prenom %></h1>
    <aside>
        <form action="" method="POST">
            <p>
                <div class="profilList"><span class="listTitle">Nom :</span> <span class="modifyInput"><%= locals.profil.nom %></span></div>
                <input class="d-none modifyForm" name="nom" value="<%= locals.profil.nom %>">
            </p>
            <p>
                <div class="profilList"><span class="listTitle">Prénom :</span><span class="modifyInput"><%= locals.profil.prenom %></span></div>
                <input class="d-none modifyForm" name="prenom" value="<%= locals.profil.prenom %>">
            </p>
            <p>
                <div class="profilList"><span class="listTitle">Adresse :</span><span class="modifyInput"> <%= locals.profil.adresse %></span></div>  
                <input class="d-none modifyForm" name="adresse" value="<%= locals.profil.adresse %>">
            </p>
            <p>
                <div class="profilList"><span class="listTitle">Mail :</span><span class="modifyInput"> <%= locals.profil.mail%></span></div> 
                <input class="d-none modifyForm" name="mail" value="<%= locals.profil.mail %>">
            </p>
            <p>
                <span class="profilList listTitle">Vos points de fidélité :</span> <%= locals.profil.points %>
            </p>
        
        <button id="modifyButton">Modifier</button>
        <input type="submit" name="sauvegarder" value="Sauvegarder" id="saveButton" class="d-none"/>

        </form>
    </aside>

    <section class="commandesContainer">
        <% for(commande of locals.profil.commandes ){%>
            <div class="uneCommande">
               <div class="commandeDescription">
                <p>Commande du : <%= commande.createdAt %> </p>
                <p><%= commande.prix %> </p>
                <p><%= commande.statut %> </p>
               </div>
                <div class="platsCommande">
                    <i class="fa-solid fa-utensils"></i>
                    <p><%= commande.contenu%></p>
                </div>
            </div>
        <%}%>
    </section>
    <a href="/deconnexion" class="decoButton"><button>Déconnexion</button></a>
<%}%>
</section>

<%- include('partials/footer') %>

<script src="./js/profil.js"></script>
</body>
</html>